name: Bonjour
on:
  - push
jobs:
  dire_bonjour:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/cicd-lectures/gitpod:latest
      options: --user=root
    steps:
      - uses: actions/checkout@v3 # Récupère le contenu du dépôt correspondant au commit du workflow en cours
      - run: ls -l
      # - run: cat README.md | cowsay -f tux
      - name: Read README.md
        id: package
        uses: juliangruber/read-file-action@v1
        with:
          path: ./README.md
      - name: Echo README.md
        run: cat "${{ steps.package.outputs.content }}" | cowsay
